@import "tailwindcss";

@config "../../tailwind.config.ts";

@theme {
  --font-display: var(--font-jakarta);
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }

  .scrollbar-hide {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

/* Force dark options in dark mode for browser compatibility */
.dark option {
  background-color: #1e293b;
  /* slate-800 */
  color: white;
}